@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');
*{
    font-family: 'Stick No Bills', sans-serif;
}
html{
  background-image: url('../img/moon-landing-squooshed.jpg');    
  background-repeat: no-repeat;		
  background-position: top;	
  background-size: cover;
  height: 100vh; 
  background-attachment: fixed;
}
nav {
  display: flex;
  background-color: rgba(0, 0, 0, 1);  
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
}
a:link {
  color: white;
}
#title {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 40px;
    width: clamp(200px, 50vw, 800px);
    background-color: rgba(65, 65, 65, 0.7);
    padding: 0px 10px 0px 20px;
    font-family: 'Stick No Bills', sans-serif;
    border-style: double;
    border-color: white;
    border-width: 4px;
    font-size: 90px;
    border-radius: 10%;
    text-align: center;    
}