@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');
*{
    font-family: 'Stick No Bills', sans-serif;
}
html {
  background-image: url('../img/moon-landing-squooshed.jpg');    
  background-repeat: no-repeat;		
  background-position: top;	
  background-size: cover;
  height: 100vh; 
  background-attachment: fixed;
}
nav {
  display: flex;
  background-color: rgba(0, 0, 0, 1);  
  flex-direction: row;
  justify-content: space-evenly;
  font-size: clamp(10px, 5vw, 30px);
}
a:link {
  color: white;
}
#title {
  color: white;
  display: block;  
  margin: 0px auto 0px auto;
  width: 500px;    
  max-width: 100%;
  background-color: rgba(65, 65, 65, 0.7);
  padding: 0px 10px 0px 20px;
  font-family: 'Stick No Bills', sans-serif;
  border-style: double;
  border-color: white;
  border-width: 4px;
  font-size: clamp(70px, 10vw, 90px);
  border-radius: 10%;
  text-align: center;    
}
#hero-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;  
  width: 900px;    
  max-width: 100%;
  background-color: rgba(65, 65, 65, 0.7);
  padding: 0px 10px 0px 20px;
  font-family: 'Stick No Bills', sans-serif;
  border-style: double;
  border-color: white;
  border-width: 4px;
  font-size: clamp(10px, 3vw, 20px);
  border-radius: 10%;
  text-align: center;    
}
select {
  width: 400px;
  max-width: 100%;
  background-color: rgba(200, 200, 200, 0.75);
}
input {
  background-color: rgba(200, 200, 200, 0.75);
}
textarea {
  background-color: rgba(200, 200, 200, 0.75);
}
label {
  margin: 10px;
}
#build-button {
  width: 400px;
  max-width: 100%;
  font-size: 30px;
  height: 50px;
  margin-bottom: 30px;
}